{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='listing.css') }}">

<head>
  <h2>{{ brand }} {{ model }}</h2>

  <h3>{{ price }} €</h3>

<div class="main-info">

  <div class="main-left">
    <p>Year: <b>{{ year }}</b></p>

    <p>Motor: <b>{{ engine }}L, {{ gas }}</b></p>

    <p>Mileage: <b>{{ mileage }}km</b></p>
  </div>

  <div class="main-right">
    <p>Drive Train: <b>{{ drive }}</b></p>

    <p>Transmition: <b>{{ transmition }}</b></p>

    <p>Condition: <b>{{ condition }}</b></p>
  </div>
</div>

<div class="slideshow-container">
  {% for image in images %}
  <div class="mySlides fade">
    <div class="numbertext">{{ loop.index}} / {{ images|length }}</div>
    <img src="data:;base64,{{ image }}" style="width:100%"/>
  </div>
  {% endfor %}


  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

{% for image in images %}
<span class="dot" onclick="currentSlide(loop.index)"></span>
{% endfor %}


  <h4>Technical Info</h4>

<div class="technical-info">

  <div class="technical-left">
  <p>Register Number: <b>{{ register }}</b></p>

  <p>Horsepower: <b>{{ horsepower}}hp</b></p>

  <p>Torque: <b>{{ torque }}</b></p>
  </div>
  <div class="technical-right">
  <p>Weight: <b>{{ weight }}</b></p>

  <p>Seating Capacity: <b>{{ seating }}</b></p>

  <p>Door count: <b>{{ door }}</b></p>
</div>
</div>

<div class="description-container">
  <h4>Description:</h4> 
  <p class="discription">{{ description }}</p>
</div>


<div class="seller-info">
  <h4>Seller {{ first }} {{ last }}</h4>
  <p>Email: {{ email }}</p>
  <p>Phone number: {{ phone }}</p>

</div>




  
</head>

<script src="{{ url_for('static', filename='slideshow.js') }}"></script>
{% endblock %}

